<div class="battle-navbar">
  <div class="navbar-left-content">
    <%= link_to root_path do %>
      <%= image_tag 'ring.png', class: 'logo' %>
    <% end %>
  </div>
  <div class="navbar-right-content">
    <p><%= link_to 'Players', players_path %></p>
    <p><%= link_to 'Battles', battles_path %></p>
    <%= link_to "Launch a new battle", new_battle_path, class: 'btn-submit-small-navbar cta-navbar' %>
  </div>
</div>
