<div class="container">
  <% if @players.empty? %>
    <h1>Uh oh!</h1>
    <p class="text-transparent">You cannot launch a battle without any players!</p>
    <%= link_to "Create at least another player", new_player_path, class: 'btn-submit-small' %>
  <% elsif @players_count == 1 %>
    <h1>Uh oh!</h1>
    <p class="text-transparent">You cannot launch a battle with only one player!</p>
    <div class="player-item text-center width-100">
      <%= render 'shared/player_card', player: @players.first %>
    </div>
    <%= link_to "Create at least another player", new_player_path, class: 'btn-submit-small' %>
  <% else %>
    <h1>Choose two players 🤝</h1>
    <p class="text-transparent m-b-0">Click on the avatar of two players - you can also <%= link_to "create a new player", new_player_path, class: 'yellow-link' %>.</p>
    <p class="text-transparent m-b-0">- Be careful, if a player loses a battle, he loses a life <i class="fas fa-heart"></i>. If he wins, he gains attack points <i class="fas fa-fist-raised"></i>!</p>
    <p class="text-transparent">- When a player has lost all his lives, he cannot fight anymore! He's dead <i class="fas fa-dizzy"></i></p>
    <div class="player-list">
      <% @players.each do |player| %>
        <div class="player-item text-center <%= 'selected' if @battle.player_1_id == player.id %>" data-player-id=<%= "#{player.id}" %>>
          <%= render 'shared/player_card', player: player %>
        </div>
      <% end %>
    </div>
    <%= simple_form_for(@battle) do |f| %>
      <%= f.input :player_1_id, as: :hidden, error: false %>
      <%= f.input :player_2_id, as: :hidden, error: false %>
      <%= f.button :submit, 'Launch the battle!', class: "btn-submit" %>
    <% end %>
  <% end %>
</div>
